/******************************************************************
  Defaults
******************************************************************/

body {
	background: #fff url('/images/topbluefade.gif') repeat-x;
	background-position: 0px 60px;
	font-family:Arial,Helvetica,sans-serif;
	margin:0pt;
	padding:0pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Lucida Grande','Trebuchet MS',Arial,Helvetica,sans-serif;
}

a {
	color:#2244CC;
	font-family:'Lucida Grande','Trebuchet MS',Arial,Helvetica,sans-serif;
}

#flash {
	width: 70%;
	margin: 5px auto;
	text-align: center;
	font-size: 0.85em;
}

#flash p.notice {
	background: #b4eeb4;
	border: 2px solid green;
	padding: 10px;
	margin: 5px;
}

#flash p.error {
	background: pink;
	border: 2px solid red;
	padding: 10px;
	margin: 5px;
}

#site_name {
	text-decoration: none;
	color: white;
	text-shadow: 2pt 2pt black;
}

#subtitle {
  font-size: 8pt;
  color: #884444;
}

/******************************************************************
  #Header control - includes font, style, layout, color, etc
******************************************************************/

#header {
	padding: 10px 5px 15px 5px;
	border-bottom: 2px solid black;
	background: #1e0000 url('/images/tile.png');
}

#header ul#nav {
	float:right;
	list-style-type:none;
	margin:0.4em 2.5em 0 0;
}

#header ul#nav li {
	font-family:Helvetica,'Lucida Grande',Verdana,Arial,sans-serif;
	font-size:0.75em;
	display: inline;
	padding: 0 .5em;
}

#header h1 {
	padding: 0;
	margin: 0 1.15em;
	font-size: 1.3em;
}

#header a {
  color: white; 
  text-decoration: none;
  font-weight: bold;
}

/******************************************************************
  #Container and #Main color and layout control
******************************************************************/

#container {
	margin: 1px 0px;
	padding: 0px;
	min-width: 970px;
}

#main {
	float: left;
	width: 750px;
	min-width: 400px;
	margin: 0;
	padding: 0px 25px;
	background: white;
	border-bottom: 3px solid #333;
	border-right: 2px solid #666;
}

#main h1, h2 {
	font-size: 16pt;
	color: #666;
}

#main h3 {
  font-size: 14pt;
  color: #666;
}

#main h4, h5, h6 {
  font-size: 12pt;
	color: #666;
}

#main h2.title {
  color: #000;
  font-size: 18pt;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 5px;
}

#main a {
  text-decoration: none;
  border-bottom: 1px dotted #00f;
}

#main a:after { content: url('/images/external.png'); }

#main a.wiki_link:after { content: ""; }

/******************************************************************
  Meta info layout/styling
******************************************************************/

#right {
	float: left;
	margin-left:20px;
	margin-right:0pt;
	margin-top:20px;
	width:19%;
}

#right h5 {
	padding: .2em;
	margin: 0;
}

ul.meta_info {
	font-size: .75em;
	margin: 0;
	padding: .2em;
	list-style-type:none;
}

ul.meta_info li {
	padding: 0.4em 0;
	margin: 0;
}

/******************************************************************
  New/Edit page form layouts
******************************************************************/

.edit_page textarea {
	width: 90%;
}

.textile-toolbar {
	width: 90%;
}


a.new_wiki_link {
	color: red;
}

a.small_link {
	font-size: 0.7em;
	display: inline;
}

#users a {
	display: inline;
}

/******************************************************************
  Search layout
******************************************************************/

form {
	display: inline;
}

/******************************************************************
  Attachment layout
******************************************************************/

#attachment_container {
	position: absolute;
	top: 100px;
	right: 100px;
	padding: 10px;
	width: 225px;
	background: white;
}

#attachment_container h2 {
	text-align: center;
	padding: 5px;
}

.attachment {
	display: block;
	width: 110px;
	height: 125px;
	float: left;
}

.attachment a {
	margin: 0 auto;
	padding: 0 0 0 5px;
}

.attachment_meta_info {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 110px;
}

.attachment_meta_info a {
	text-decoration: none;
	font-size: .9em;
	padding-left: 5px;
}

a.attachment_link {
	display: block;
	height: 100px;
	margin: 0 auto;
}

.attachment_link img{
	border: none;
	text-decoration: none;
	margin: 0 auto;
}

/******************************************************************
  Code layout
******************************************************************/
CODE {
  overflow: hidden;
}

PRE {
  overflow: auto;
}

#bottom {
  text-align: center;
  font-size: 8pt;
  color: #666;
  margin: 30px 0px 20px 0px;
}